<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Execute on nodejs with npm run dev to enabe morgan, disable for production</p>

    <h3>Here is a glimpse of our package.json:</h3>
    {{!-- CODE SECTION --}}
    <pre><code>
{
  "name": "notes-app-mongodb",
  "version": "1.0.0",
  "main": "index.js",
  "scripts": {
    "start": "node src/index.js",
    "dev": "nodemon src/index.js"
  },
  "dependencies": {
    "bcryptjs": "^2.4.3",
    "connect-flash": "^0.1.1",
    "express": "^4.18.2",
    "express-handlebars": "^7.1.2",
    "express-session": "^1.17.3",
    "method-override": "^3.0.0",
    "mongoose": "^7.6.3",
    "passport": "^0.6.0",
    "passport-local": "^1.0.0"
  },
  "devDependencies": {
    "dotenv": "^16.3.1",
    "morgan": "^1.10.0",
    "nodemon": "^3.0.1",
    "npm-check-updates": "^16.14.6"
  }
}
</code>
  </pre>
    <p>veniam voluptatibus aliquid unde sit Libero veniam similique ex reiciendis
      doloribus! Deleniti sunt cum ad est atque. Esse earum
    </p>
  </div>
</section>