<div class="card card-body p-5 mt-4">
  <h1 class="display-4">Notes App Nodejs And Mongodb!</h1>
  <h2>Welcome to our landing page!</h2>
  <p class="lead">A simple App to manage Notes developed with Nodejs, Express,
    Mongodb and Javascript Technologies</p>
  <hr class="my-4" />


  <p>We are excited to introduce our app, "notes-app-mongodb", user-friendly application developed with Node.js v20.0
    and MongoDB v7.0.2.</p>
  <p>This application is designed to offer a seamless user experience with features like user login and account
    creation. The app is developed as part of the "Base de Datos 2" course at College URL, demonstrating a simple CRUD
    for MongoDB</p>
  <p>Developers:</p>
  <ul>
    <li>Daniel Eduardo Bautista Fuentes 2121323</li>
    <li>Pablo Andres Coti Arredondo 1653221</li>
  </ul>
  <p>The "notes-app-mongodb" application is built with a variety of dependencies to ensure optimal performance.</p>
  <ul>
    <li>bcryptjs</li>
    <li>connect-flash</li>
    <li>express</li>
    <li>express-handlebars</li>
    <li>express-session</li>
    <li>method-override</li>
    <li>mongoose</li>
    <li>passport</li>
    <li>passport-local</li>
  </ul>
  <div>
    <a class="btn btn-primary btn-lg" href="/auth/signup" role="button">Register</a>
  </div>
</div>